<h1>Wordgames#score</h1>
<p>******** Now your result ********</p>
  <p>Your word: <%= @attempt %></p>
  <p>Time Taken to answer: <%= @result[:time] %></p>
  <p>Translation: <%= @result[:translation] %></p>
  <p>Your score: <%= @result[:score] %></p>
  <p>Message: <%= @result[:message] %></p>
  <p>*****************************************************</p>
